<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <script src="/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://use.fontawesome.com/6fe351c4c5.js"></script>

    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
